ProducteurMessage/produits.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">
	
	
	<xs:element name="listProduit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="produit" minOccurs="1" maxOccurs="100" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="produit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer" />
				<xs:element name="reference" type="xs:string" />
				<xs:element name="description" type="xs:string" />	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	</xs:schema> 